@* ReSharper disable once CheckNamespace *@
@namespace Comp
@inherits MRI.MVVM.Web.Helpers.BaseComponent<ViewModels.Interfaces.Queries.IBookModelsViewModel>

<ul>
  @if (ViewModel.Item is not null)
  {
    foreach (var (name, models) in ViewModel.Item)
    {
      <li>
        <span>@name</span><span>: </span>
        @foreach (var model in models.SkipLast(1))
        {
          <span>
            <a href="@($"model/{model.Id}")">
              @model.Year
            </a>
          </span>
          <span>, </span>
        }

        <span><a href="@($"model/{models.Last().Id}")">@models.Last().Year</a></span>
      </li>
    }
  }
</ul>

@code {
  private int m_bookId;

  /// <summary>
  /// Parent book id
  /// </summary>
  [Parameter]
  public int BookId
  {
    get => m_bookId;
    set
    {
      m_bookId = value;
      ViewModel.Id = value;
    }
  }

  /// <inheritdoc />
  protected override async Task OnInitializedAsync()
    => await ViewModel.LoadItem().ConfigureAwait(true);

}