@* ReSharper disable UnknownCssClass *@
@page "/books"
@inherits MRI.MVVM.Web.Helpers.BaseComponent<ViewModels.Interfaces.Queries.IBooksViewModel>

<h1>Books</h1>

<RadzenDataList WrapItems="true" LoadData="@LoadTableData" AllowPaging="true" Count="@ViewModel.TotalItems" PageSize="@ViewModel.PageSize" Data="@ViewModel.Items" TItem="Models.Interfaces.Entities.IBook">
  <Template Context="book">
    <RadzenCard Style="width:300px; padding-left: 25px; padding-top: 10px">
      <div class="row mb-auto">
        <div>
          <b>@book.Title</b>
        </div>
      </div>
      <div class="row mt-2">
        <RadzenButton Icon="assignment">Open</RadzenButton>
      </div>
    </RadzenCard>
  </Template>
</RadzenDataList>

@code
{
  private async void LoadTableData(LoadDataArgs obj)
  {
    ViewModel.Search = obj.Filter;

    ViewModel.PageIndex = obj.Skip!.Value / ViewModel.PageSize + 1;

    await ViewModel.LoadItems().ConfigureAwait(false);
  }

  /// <inheritdoc />
  protected override async Task OnInitializedAsync()
      => await ViewModel.LoadItems().ConfigureAwait(false);
}